<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ae4dd789-5521-46c0-b615-87e39a6169f1/resourcegroups/kristina/providers/Microsoft.Web/sites/PlaceOfBueaty</ResourceId>
    <ResourceGroup>kristina</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://placeofbueaty.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>placeofbueaty.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlaceOfBueaty</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PlaceOfBueaty</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyContext" Order="1" Enabled="False">
          <Destination Path="Data Source=kristinaplaceofbueaty.database.windows.net;Initial Catalog=Myapp;User ID=shahar;Password=shachar366$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kristin2.Context.MyContext, Kristin2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyContext-Web.config Connection String">
      <ParameterValue>Data Source=kristinaplaceofbueaty.database.windows.net;Initial Catalog=Myapp;User ID=shahar;Password=shachar366$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>