
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-12">



        <form class="form-signin" action="#" method="POST">
            <h1 class="h3 mb-3 mt-5 float-right font-weight-normal">איפוס סיסמא</h1>
            <div class="form-group">
                <label for="email" class="sr-only">אימייל</label>
                <input type="email" name="email" autofocus class="form-control" placeholder="הכנס את האימייל שלך">
            </div>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">איפוס</button>
        </form>

    </div>
</div>



